@model IEnumerable<Dynamic_Web_Site.Models.Model.Hizmet>
@{
    ViewBag.Title = "Hizmetlerimiz";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<main id="main">

    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Hizmetlerimiz</h2>
                <ol>
                    <li><a href="/Anasayfa">AnaSayfa</a></li>
                    <li>Hizmetlerimiz</li>
                </ol>
            </div>

        </div>
    </section><!-- End Our Services Section -->

    <section class="service-details">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch mb-4" data-aos="fade-up">
                        <div class="card" style="width: 100%; height: 100%;">
                            <div class="card-img">
                                <img src="@item.HZM_ResimURL" alt="..." class="img-fluid">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="#">@item.HZM_Baslik</a></h5>
                                <p class="card-text">@item.HZM_Aciklama</p>
                              
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- End Service Details Section -->
    <!-- ======= Pricing Section ======= -->


</main><!-- End #main -->
